npm-debug.log
**/.idea/workspace.xml
**/.idea/tasks.xml
/weesh-node/node_modules
/scripts/Scraper/node_modules
!/scripts/Scraper/node_modules/product-scraper
/scripts/MongoDB/InitFromScraping/node_modules

