<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Porto - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="Crivos.com">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- Libs CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/flexslider/flexslider.css" media="screen" />
    <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css" media="screen" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <!-- Current Page Styles -->
    <link rel="stylesheet" href="/vendor/revolution-slider/css/settings.css" media="screen" />
    <link rel="stylesheet" href="/vendor/revolution-slider/css/captions.css" media="screen" />
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Skin -->
    <link rel="stylesheet" href="/css/skins/blue.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/css/theme-responsive.css" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <!-- Head Libs -->
    <script src="vendor/modernizr.js"></script>
    <!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->
    <!--[if lte IE 8]>
			<script src="vendor/respond.js"></script>
		<![endif]-->
    <!-- Facebook OpenGraph Tags - Go to http://developers.facebook.com/ for more information.
		<meta property="og:title" content="Porto Website Template."/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.crivos.com/themes/porto"/>
		<meta property="og:image" content="http://www.crivos.com/themes/porto/"/>
		<meta property="og:site_name" content="Porto"/>
		<meta property="fb:app_id" content=""/>
		<meta property="og:description" content="Porto - Responsive HTML5 Template"/>
		-->
</head>

<body ng-app="weesh">
    <div class="body">
        <header>
            <div class="container">
                <h1 class="logo">
                    <a href="#/"> <img alt="Weesh" src="img/logo.png"> </a>
                </h1>
                <nav>
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li> <a href="#/myProducts">Mes produits</a> </li>
                        <li> <a href="#/mylists">Mes listes</a> </li>
                        <li> <a href="#/mySettings">Paramètres</a> </li>
                        <li> <a href="sign-in.html">Se connecter</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div role="main" class="main">
            <ui-view></ui-view>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-ribon"> <span>Get in Touch</span> </div>
                    <div class="span3">
                        <h4>Newsletter</h4>
                        <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to
                            our newsletter.</p>
                        <div class="alert alert-success hidden" id="newsletterSuccess"> <strong>Success!</strong> You've been added to our email list. </div>
                        <div class="alert alert-error hidden" id="newsletterError"></div>
                        <form class="form-inline" id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
                            <div class="control-group">
                                <div class="input-append">
                                    <input class="span2" placeholder="Email Address" name="email" id="email" type="text">
                                    <button class="btn" type="submit">Go!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="span3">
                        <h4>Latest Tweet</h4>
                        <div id="tweet" class="twitter">
                            <p>Please wait...</p>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <ul class="contact">
                                <li>
                                    <p><i class="icon-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name,
                                        United States</p>
                                </li>
                                <li>
                                    <p><i class="icon-phone"></i> <strong>Phone:</strong> (123) 456-7890</p>
                                </li>
                                <li>
                                    <p><i class="icon-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="span2">
                        <h4>Follow Us</h4>
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip"
                                        title="Facebook">Facebook</a></li>
                                <li class="twitter"><a href="https://twitter.com/weesh_io" target="_blank" data-placement="bottom" rel="tooltip"
                                        title="Twitter">Twitter</a></li>
                                <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip"
                                        title="Linkedin">Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="span1">
                            <a href="index.html" class="logo"> <img alt="Porto Website Template" src="img/logo-footer.png"> </a>
                        </div>
                        <div class="span7">
                            <p>© Copyright 2017 by Weesh. All Rights Reserved.</p>
                        </div>
                        <div class="span4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="page-faq.html">FAQ's</a></li>
                                    <li><a href="sitemap.html">Sitemap</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
<script type="text/ng-template" id="/home.html">
        <div id="content" class="content full" ng-controller="MainCtrl">
            <div class="home-intro">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="span12">
                            <p>"Make your <em>Weesh </em> come true"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row center bloc">
                <p class="span12"> Vous n'êtes pas connecté, veuillez vous identifiez pour utiliser Weesh.</p>
                <div class="span7">
                    <div> <a href="/#/login" class="btn btn-large btn-primary">Connexion</a> </div>
                </div>
                <div class="span4">
                    <div> <a href="/#/register" class="btn btn-large btn-primary">Créer un compte</a> </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row bloc"> <i class="icon-cog user"><span class="content iconText">Vos paramètres</span></i>
                <hr class="tall" />
                <form>
                    <div class="row controls">
                        <div class="span6 control-group">
                            <label>Votre {{test}}</label>
                            <input type="text" value="" maxlength="100" class="span3"> </div>
                        <div class="span6 control-group">
                            <label>Votre email</label>
                            <input type="text" value="" maxlength="100" class="span3"> </div>
                    </div>
                    <div class="row controls">
                        <div class="span6 control-group">
                            <label>Mot de passe</label>
                            <input type="text" value="" maxlength="100" class="span3"> </div>
                    </div>
                    <div class="row controls">
                        <div class="span6 control-group">
                            <label>Adresse</label>
                            <input type="text" value="" maxlength="100" class="span3"> </div>
                    </div>
                    <div> <a href="#" class="btn btn-large btn-primary">Confirmer</a> </div>
                </form>
            </div>
        </div>
        </script>
        

<script type="text/ng-template" id="/register.html">
    <div class="containder">
        <form name="form" class="row center css-form bloc" novalidate>
            <label>Name:
                <input type="text" ng-model="user.name" name="uName" required="" /> </label>
            <br />
            <div ng-show="form.$submitted || form.uName.$touched">
                <div ng-show="form.uName.$error.required">Tell us your name.</div>
            </div>
            <label>E-mail:
                <input type="email" ng-model="user.email" name="uEmail" required="" /> </label>
            <br />
            <div ng-show="form.$submitted || form.uEmail.$touched"> 
                <span ng-show="form.uEmail.$error.required">Tell us your email.</span> 
                <span ng-show="form.uEmail.$error.email">This is not a valid email.</span> 
                </div> Gender:
            <label>
                <input type="radio" ng-model="user.gender" value="male" />male</label>
            <label>
                <input type="radio" ng-model="user.gender" value="female" />female</label>
            <br />
            <label>
                <input type="checkbox" ng-model="user.agree" name="userAgree" required="" /> I agree: </label>
            <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
            <br />
            <div ng-show="form.$submitted || form.userAgree.$touched">
                <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
            </div>
            <input type="button" ng-click="reset(form)" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Save" /> 
        </form>
    </div>
</script>

</div>
<!-- Libs -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')
</script>
<script src="/vendor/jquery.easing.js"></script>
<script src="/vendor/jquery.cookie.js"></script>
<script src="/vendor/bootstrap.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script src="/vendor/selectnav.js"></script>
<script src="/vendor/twitterjs/twitter.js"></script>
<script src="/vendor/revolution-slider/js/jquery.themepunch.plugins.js"></script>
<script src="/vendor/revolution-slider/js/jquery.themepunch.revolution.js"></script>
<script src="/vendor/flexslider/jquery.flexslider.js"></script>
<script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.js"></script>
<script src="/vendor/jquery.validate.js"></script>
<script src="/js/plugins.js"></script>
<!-- Init AngularJS -->
<script src="/angularJS/angularApp.js"></script>
<script src="/angularJS/config/Config.js"></script>
<script src="/angularJS/factory/AuthFactory.js"></script>
<script src="/angularJS/controllers/MainCtrl.js"></script>
<!-- Current Page Scripts -->
<script src="/js/views/view.home.js"></script>
<!-- Theme Initializer -->
<script src="/js/theme.js"></script>
<!-- Custom JS -->
<script src="/js/custom.js"></script>
<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
</body>

</html>