<div class="container">
    <hr />
    <div class="row">
        <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
            <li class="span4 isotope-item websites">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">SEO</span> <span class="thumb-info-type">Website</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item brands">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project-1.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">Red Wine</span> <span class="thumb-info-type">Brand</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item logos">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project-2.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">Man Running</span> <span class="thumb-info-type">Logo</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item websites">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project-3.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">The Code</span> <span class="thumb-info-type">Website</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item websites">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">SEO</span> <span class="thumb-info-type">Website</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item brands">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project-1.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">Red Wine</span> <span class="thumb-info-type">Brand</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item logos">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project-2.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">Man Running</span> <span class="thumb-info-type">Logo</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
            <li class="span4 isotope-item websites">
                <div class="portfolio-item thumbnail">
                    <a href="portfolio-single-project.html" class="thumb-info"> <img alt="" src="img/projects/project-3.jpg"> <span class="thumb-info-title">
											<span class="thumb-info-inner">The Code</span> <span class="thumb-info-type">Website</span> </span> <span class="thumb-info-action">
											<span title="Universal" href="#" class="thumb-info-action-icon"><i class="icon-link"></i></span> </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>