<!-- Basic -->
    <meta charset="utf-8">
    <title>Porto - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="Crivos.com">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- STYLESHEET SECTION -->
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- Libs CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/flexslider/flexslider.css" media="screen" />
    <link rel="stylesheet" href="/vendor/fancybox/jquery.fancybox.css" media="screen" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/theme-elements.css">
    <!-- Current Page Styles -->
    <link rel="stylesheet" href="/vendor/revolution-slider/css/settings.css" media="screen" />
    <link rel="stylesheet" href="/vendor/revolution-slider/css/captions.css" media="screen" />
    <link rel="stylesheet" href="/vendor/circle-flip-slideshow/css/component.css" media="screen" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Skin -->
    <link rel="stylesheet" href="/css/skins/blue.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="/css/theme-responsive.css" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <!-- Head Libs -->
    <script src="vendor/modernizr.js"></script>
    <!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->
    <!--[if lte IE 8]>
			<script src="vendor/respond.js"></script>
		<![endif]-->
    <!-- Facebook OpenGraph Tags - Go to http://developers.facebook.com/ for more information.
		<meta property="og:title" content="Porto Website Template."/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.crivos.com/themes/porto"/>
		<meta property="og:image" content="http://www.crivos.com/themes/porto/"/>
		<meta property="og:site_name" content="Porto"/>
		<meta property="fb:app_id" content=""/>
		<meta property="og:description" content="Porto - Responsive HTML5 Template"/>
		-->
        <!-- Libs -->
<!-- END STYLESHEET SECTION -->

<!-- SCRIPT SECTION -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="vendor/jquery.js"><\/script>')
</script>
<script src="/vendor/jquery.easing.js"></script>
<script src="/vendor/jquery.cookie.js"></script>
<script src="/vendor/bootstrap.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
<script src="/vendor/selectnav.js"></script>
<script src="/vendor/twitterjs/twitter.js"></script>
<script src="/vendor/revolution-slider/js/jquery.themepunch.plugins.js"></script>
<script src="/vendor/revolution-slider/js/jquery.themepunch.revolution.js"></script>
<script src="/vendor/flexslider/jquery.flexslider.js"></script>
<script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.js"></script>
<script src="/vendor/jquery.validate.js"></script>
<script src="/js/plugins.js"></script>
<!-- Init AngularJS -->
<script src="/angularJS/angularApp.js"></script>
<script src="/angularJS/config/Config.js"></script>
<script src="/angularJS/factory/AuthFactory.js"></script>
<script src="/angularJS/controllers/MainCtrl.js"></script>
<!-- Current Page Scripts -->
<script src="/js/views/view.home.js"></script>
<!-- Theme Initializer -->
<script src="/js/theme.js"></script>
<!-- Custom JS -->
<script src="/js/custom.js"></script>
<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
<!-- END SCRIPT SECTION -->