<header id="header" 
	data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Weesh</title>
	<meta name="keywords" content="Weesh" />
	<meta name="description" content="Weesh">
	<meta name="author" content="Weesh">
	<!-- Favicons -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css">
	<!-- STYLESHEET SECTION -->
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="plugin/angular-material/angular-material.min.css">
	<!-- Libs CSS -->
	<link rel="stylesheet" href="plugin/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugin/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="plugin/animate.css/animate.min.css">
	<link rel="stylesheet" href="plugin/magnific-popup/dist/magnific-popup.css">	
	<!-- Theme CSS -->
	<link rel="stylesheet" href="css/theme.css"> <!-- PEU ETRE A REMPLACER PAR LE NOUVEAU MAIS DES MODIFS SONT A FAIRE -->
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/theme-blog.css">
	<link rel="stylesheet" href="css/theme-shop.css">
	<!-- Current Page CSS -->
	<link rel="stylesheet" href="vendor/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="vendor/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css">
	<link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css">
	<!-- Skin CSS -->
	<link rel="stylesheet" href="css/default.css">
	<!-- Skin Weesh -->
	<link rel="stylesheet" href="/css/color.css">
	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<!-- END STYLESHEET SECTION -->
</header>