<div class=" header-body">
    <div class="header-container container">
        <div class="header-row">
            <div class="header-column">
                <div class="header-logo">
                    <a href="#/"> <img alt="Weesh" src="img/logo.png"> </a>
                </div>
            </div>
            <div class="header-column">
                <div class="header-row">
                    <div class="header-nav">
                        <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main"> <i class="fa fa-bars"></i> </button>
                        <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                            <nav>
                                <ul class="nav nav-pills nav-main" id="mainNav">
                                    <li> <a class="purple" href="/#/myProducts">Mes produits</a> </li>
                                    <li> <a class="purple" href="/#/myLists">Mes listes</a> </li>
                                    <li> <a class="purple" href="/#/mySettings">Paramètres</a> </li>
                                    <li> <a class="purple" href="/#/register">Se connecter</a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>