<header id="header" class="header-narrow" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 0, "stickySetTop": "0"}'>
    <div class=" header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="#/"> <img src="img/logo.png"> </a>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main"> <i class="fa fa-bars"></i> </button>
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills nav-main" id="mainNav">
                                        <li> <a class="purple" href="/#/myProducts">Mes produits</a> </li>
                                        <li> <a class="purple" href="/#/myLists">Mes listes</a> </li>
                                        <li> <a class="purple" href="/#/mySettings">Paramètres</a> </li>
                                        <li ng-hide="isLoggedIn()"> <a class="purple" href="/#/register">Se connecter</a> </li>
                                        <li ng-show="isLoggedIn()"> <a class="purple" href="/#/register">Se déconnecter</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>