<div id="content" class="content full">
    <div class="home-intro">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <p>"Make your <em>Weesh </em> come true"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row center bloc">
        <p class="col-md-12"> Vous n'êtes pas connecté, veuillez vous identifiez pour utiliser Weesh.</p>
        <div class="col-md-7">
            <div> <a ui-sref="login" class="btn btn-large btn-primary btn-orange">Connexion</a> </div>
        </div>
        <div class="col-md-5">
            <div> <a ui-sref="register" class="btn btn-large btn-primary btn-orange">Créer un compte</a> </div>
        </div>
    </div>
</div>