<div id="content" class="content full">
    <div class="home-intro">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="span12">
                    <p>"Make your <em>Weesh </em> come true"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row center bloc"> <i class="fa fa-user user"><span class="content iconText">{{user.username}}</span></i>
        <hr class="tall hr" />
        <h4 class="span12">Bienvenue sur votre espace {{user.username}}</h4> </div>
</div>
<div oc-lazy-load="products" class="container">
    <div class="row center bloc"> <i class="fa fa-newspaper-o user"><span class="content iconText">Votre actualité</span></i>
        <hr class="tall hr" />
        <md-content ng-controller="ProductsCtrl" class="bloc inside" layout-padding>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null"> <img ng-src="{{products.image}}" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ products.name}} <em>par</em> {{products.provider}}</h3>
                        <h4>{{ products.city }}</h4>
                        <p>{{ products.price }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>