<script type="text/ng-template" id="/myProducts.ejs">
    <div id="content" class="content full">
        <div class="home-intro">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="span12">
                        <p>"Make your <em>Weesh </em> come true"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row center bloc"> <i class="icon-user user"><span class="content iconText">{{user.name}}</span></i>
            <hr class="tall" />
            <h4 class="span12">Bienvenue sur votre espace {{user.name}}</h4> </div>
    </div>
    <div class="container">
        <div class="row center bloc"> <i class="icon-dashboard user"><span class="content iconText">Votre actualité</span></i>
            <hr class="tall" />
            <div class="tabs">
                <div class="tab-content">
                    <ul class="simple-post-list">
                        <li>
                            <div class="post-image">
                                <div class="thumbnail">
                                    <a href="blog-single.html"> <img src="img/blog/blog-thumb-1.jpg" alt=""> </a>
                                </div>
                            </div>
                            <div class="post-info"> <a href="blog-single.html">Nullam Vitae Nibh Un Odiosters</a>
                                <div class="post-meta"> Jan 10, 2013 </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-image">
                                <div class="thumbnail">
                                    <a href="blog-single.html"> <img src="img/blog/blog-thumb-2.jpg" alt=""> </a>
                                </div>
                            </div>
                            <div class="post-info"> <a href="blog-single.html">Vitae Nibh Un Odiosters</a>
                                <div class="post-meta"> Jan 10, 2013 </div>
                            </div>
                        </li>
                        <li>
                            <div class="post-image">
                                <div class="thumbnail">
                                    <a href="blog-single.html"> <img src="img/blog/blog-thumb-3.jpg" alt=""> </a>
                                </div>
                            </div>
                            <div class="post-info"> <a href="blog-single.html">Odiosters Nullam Vitae</a>
                                <div class="post-meta"> Jan 10, 2013 </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>