<div id="content" class="content full">
    <div class="home-intro">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="span12">
                    <p>"Make your <em>Weesh </em> come true"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <md-content class="bloc" layout-padding>
        <form name="form" ng-submit="register()" class="row center css-form">
            <md-input-container class="md-block row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Nom d'utilisateur</label>
                        <input required name="user.name" ng-model="user.name">
                        <div ng-messages="projectForm.userName.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Email</label>
                        <input required type="email" name="userEmail" ng-model="user.email" minlength="10" ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="projectForm.userEmail.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']"> Your email must be between 10 and 100 characters long and should be a valid email address. </div>
                        </div>
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block row">
                <div class="form-group">
                    <div class="col-md-6">
                        <label>Enter date</label>
                        <md-datepicker ng-model="user.birthdate" name="dateField"></md-datepicker>
                        <div ng-messages="myOtherForm.dateField.$error">
                            <div ng-message="valid">The entered value is not a date!</div>
                            <div ng-message="required">This date is required!</div>
                            <div ng-message="mindate">Date is too early!</div>
                            <div ng-message="maxdate">Date is too late!</div>
                        </div>
                    </div>
                </div>
            </md-input-container>
            <button type="submit" class="btn btn-primary btn-orange">Register</button>
        </form>
    </md-content>
</div>